name: CI

on:
  push:
    branches:
      - "feature/*"

jobs:
  test:
    name: test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install uv
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Install dependencies
        run: |
          uv sync --all-groups --frozen

      - name: Run pre-commit checks
        run: |
          uv run pre-commit run --all-files

      - name: Run pytest with coverage
        run: |
          uv run pytest -v
